repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict markers
      - id: check-yaml
        name: Check YAML syntax
        args: [--unsafe]
      - id: trailing-whitespace
        name: Remove trailing whitespaces
        args: [--markdown-linebreak-ext=md]
      - id: no-commit-to-branch
        name: Ensure committing to allowed branch
      - id: requirements-txt-fixer
        name: Sort entries in requirements.txt
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        name: Lint Markdown files
  - repo: https://github.com/ansible-community/ansible-lint
    rev: v25.12.2
    hooks:
      - id: ansible-lint
        language_version: python3
        name: Run ansible-lint on documentation examples
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Run codespell checker
        entry: codespell
  - repo: https://github.com/AlexanderDokuchaev/md-dead-link-check
    rev: "v1.2.0"
    hooks:
      - id: md-dead-link-check
        name: Check external links
        args: ['--config', '.config/md_dead_link_check.ini']
